.navbar-inner{
	background-color: #FFC200;
}

.toolbar-inner{
	background-color: #FF8542;
}


.login-screen .page-content{
	background-image: url(../img/fondoregistre-01.jpg) !important;
}

.item-link .list-button{
	color: #BE761C !important;
}

.md .item-label{
	color: #fff !important;
	font-size: 18px !important;
}

.login-screen-content .list-button{
	color: #fff !important;
	font-weight: 700 !important;
	font-size: 18px !important;
}

.md .color-theme-blue .button{
	background-color: #BE761C !important;
}

.cuadro{
	background-color: #BE761C;
	padding-top: 20px;
	padding-bottom: 20px;
}

.img-fluid{
	max-width: 100%;
}
.perfil h3, p{
	margin: 0;
}
.perfil h3{
	font-size: 16px;
	color: #333;
}
.perfil p{
	font-size: 12px;
	color: #666;
}
.panel .list i{
	color: #474b5e !important;
	font-size: 20px !important;
}
.panel .list .item-title{
	font-size: 14px;
}

.perfil{
	text-align: center !important; 
}

.perfil h3,
.perfil p{
	margin: 0;
}
.perfil h3{
	font-size: 16px;
	color: #333;
}
.perfil p{
	font-size: 12px;
	color: #666;
}
.panel .list i{
	color: #474B5E;
	font-size: 20px !important;
}
.panel .list .item-title{
	font-size: 14px;
}


/*página principal*/
.pg{
	background-color: #204F9F;
}
.info-card{
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	left: 0;
	background-color: rgba(0,0,0,0.20);
	display: flex;
	align-items: center;
justify-content: center;
}

.hero .hero-info{
	position: absolute;
	top: 7%;
	left: 0%;
	width: 100%;
	margin: 10% 0px;
	padding: 20px 10px;
	text-align: center;
	color: #FFFFFF;
	font-size: 50px;
	text-transform: uppercase;
	
}

.card-header.azul{
	background-color: #17274F;
	color: #fff !important;
	font-size: 15px;
	font-weight: 500;
	text-align: center !important;
	justify-content: center !important;
	padding: 50px;
	
	
}

.card.product{
	
	background-color: rgba(17,47,65,0.00);
}

.row.container{
	margin: 10px;
}

.btn-compra{
	
	background-color:#EB761C;
	border: 0px !important;
	color: #fff !important;
	border-radius: 10px !important;
	font-weight: 700 !important;
	font-size: 14px !important;
	text-transform: none !important;
}

.md .color-theme-blue .button{
	background-color: #EB761C !important;
	padding-bottom: 30px !important;
	color: #fff !important;
	
}



.card a{
	color: #fff !important;
	font-size: 25px;
	font-weight: 700;
}


.panel.panel-left.panel-cover.panel-active{
	background-color: #EB761C !important;
	font-size: 16px !important;
	
	font-weight: 580 !important;
	color: #FFFFFF !important;
	
}


.pro img{
max-height: 200px;
max-width: 200px;
}

.product.card{
margin: 0;	
}

.product h3{
	font-size: 24px;
	margin: 0;
}



.fondo{
	background-image: url(../img/png.png);
	
}



